.tdsectionspace{
    background-color: black;
    padding-top: 10px;
}
 

.text{
width:40%;
max-width: 75%;
}

@media (max-width: 478px) { 
.text{
      width:100%;
      max-width: 100%; 
    }
.cardsize{
    width: 45%;
  }
}

  @media (max-width: 952px) { 
  .text{
    width:75%;
    max-width: 75%;
  }
}