.tdsectionspace{
    background-color: black;
    padding-top: 10px;
}
 

.text{
  width:40%;
  max-width:75%;
}

.text1 {
  width:39%;
  max-width:74%;
}

.palette {
 display: flex;
 gap: 5px;
 width: auto;
 justify-content: center !important;
}

.colorpicker{
  display: flex;
  justify-content: center !important;
}

.color-box {
 width: 30px;
 height: 30px;
 border-radius: 6px;
 cursor: pointer;
 border: 1px solid #ccc;
}

.overlay-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.optionTitleText {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0px;
    width: 75%;
}

.img-thumbnail {
    padding: .25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto;
}

.img-size {
    max-width: 120px;
    max-height: 120px;
    padding: 0px 0px 0px 0px;
}

.circle-svg {
  color: #0066ff;
}

 .logoposition {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circleposition {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.diagonal-line {
  background:
    linear-gradient(45deg,
      transparent 47%,
      white 49%,
      transparent 51%
    ),
    black;
}

@media (max-width: 478px) { 
  .cardsize{
    width: 45%;
  }
  .text1{
    width:41%;
  }
  .palette {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    gap: 10px;
    justify-content: center !important;
  }
  
}


@media (max-width: 952px) {
  .text {
    width:75%;
  }
  .text1{
    width:73%;
    }
  .optionTitleText{
     margin: 0 auto;
     justify-content: center !important;
  }
 
}

/* Desktop / Large screens */
@media (min-width: 953px) {
  .colorpicker{
    justify-content: start !important;
  }
  .palette {
    justify-content: start !important;
  }
}