.main{          
    /* margin: 0 auto;
    width: 100%; */
    /* min-width: 300px; */
    border-spacing: 0;
    font-family: sans-serif;
    color: #171a1b;
}

.main-color-bottom{
    background: linear-gradient(to bottom,  #303468, #000000);
}

/* Shared*/
  .namesText
{
    text-align: center;
    font-size: 14px !important;
    font-weight: normal; 
    color: white;
    margin: 5px 0;
    display: block;
    font-family: 'Poppins', sans-serif;
}



.text.aos-init.aos-animate:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
  }

.productdescriptionText {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}

.groupText{
    text-align: center;
    color: #facc15;
    font-weight: 300;
    display: block;
    font-family: 'Poppins', sans-serif;
}

  @keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.zoominandout{
    animation: zoomInOut 2s ease-in-out infinite;
}

.background-black{
    background: black;
}

  .cta-button {
    background: #FFD700;
    color: black;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    transition: background 0.3s;
    font-family: 'Poppins', sans-serif;
  }
  
  .cta-button:hover {
    background: #e6c200;
  }

.imagesize{
    height: 380px;
    width:240px;
    max-width: 75%;
    margin-top: 15px;
}
.imageextended{
    height: 400px;
    width:330px;
    max-width: 75%;
}
.imagesizecartoesempresas{
    height: 380px;
    width:240px;
    max-width: 75%
}

@media (max-width: 952px) { 
    .imagesizecartoesempresas{
    height: 330px;
    width:280px;
    max-width: 75%
    }
}

@media (max-width: 478px) { 
    .namesText{
        font-size: 12px !important;
        font-family: 'Poppins', sans-serif;
    }
    .imagesize{
        width: 60%;
        max-width: 75%;
    }
}


  