.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}

.image-modal img {
  max-width: 80%;
  max-height: 80%;
}

.prev, .next {
  position: absolute;
  color: #FBD82E;
  font-size: 30px;
  cursor: pointer;
}

.close { top: 20px; right: 30px; }
.prev { left: 30px; }
.next { right: 30px; }

.color{
    color: #1B5E20;;
}

.arrow-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.close {
   color: #FBD82E;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  width: 44px;
  height: 44px;
  background: rgba(255,255,255,1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}
.close:hover {
  transform: scale(1.2);
  background: rgba(0,0,0,0.8);
}
