.image-modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  justify-content: center;
  align-items: center;
}

.image-modal img {
  max-width: 80%;
  max-height: 80%;
}

.prev, .next {
  /* position: absolute;
  color: #FBD82E;
  font-size: 30px;
  cursor: pointer; */
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 15px;
  cursor: pointer;
  background: rgba(251, 216, 46,0.9);
  padding: 10px;
  border-radius: 50%; 
  user-select: none;
  z-index: 10;
  font-size: 24px;
  display: flex;
  width: 30px; 
  height: 30px;
  align-items: center;
  justify-content: center;
}
.prev {
  left: 15px; /* position from left edge */
}

.next {
  right: 15px; /* position from right edge */
}


.close { top: 20px; right: 30px; }
.prev { left: 30px; }
.next { right: 30px; }

.color{
    color: #1B5E20;;
}

.arrow-disabled {
  opacity: 0.3;
  pointer-events: none;
}

.close {
   color: black;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
  width: 44px;
  height: 44px;
  background: rgba(251, 216, 46,0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  cursor: default;
}

