
.icon {
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.1em;
    color: #4CAF50;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.value {
    font-size: 1.1em;
    font-weight: 600;
    color: #1B5E20;
}

.separador{
    background-image: url('img/separador.png');
    background-size: cover; 
    background-position: top;
    height: 25px;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}

@media(min-width:768px){
  .separador {
      height: 37px;
      margin-top:1.5rem;
      margin-bottom:1.5rem;
  }
}

@media(min-width:992px){
  .separador{
    height: 85px;
    margin-top:2rem;
    margin-bottom:2rem;

  }
}