
body, html {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* para evitar scroll horizontal */
}

.header-opaco {
    background-color: rgba(0, 0, 0, 0.6); /* Fundo preto com 60% de opacidade */
    height: 35px; /* Ajusta conforme necessário */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto; 
    border-radius: 43px;
   
}
.header-opaco h4 {
    text-transform: uppercase;
}
.contact-name{
  color: red !important;
}

.contact-button {
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1.1em;
    max-width: none;
    min-width: 200px; */
    /* align-content: center;
    padding-left: 5px; */
    opacity: 0.9;
    color: black;
    background-color: deepskyblue;
    text-align: center;
    width: 100%;
}

 .titleAbout{
    font-weight: 400;
    margin-left: 15px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: left;
    height: 30px;
  }

  .info-box {
  background-color: #f9f9f9;
  border: 1px solid #FBD82E;
  border-radius: 8px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px #FBD82E;
  padding: 5px;
  overflow-x: hidden;
  max-height: 300px;
  overflow-y: auto; 
  margin: 0 auto;
  min-height: 10rem
}

   .footer {
      color: black; 
      padding: 10px;
      font-size: x-large;
  }

  .middle-esquerda{
     background-image: url('img/girassois.png');
     /* background-size: cover;
       background-position: center;*/
      background-size: cover; 
     background-position: top;
     
  }
 .middle-top{
     background-image: url('img/header.jpg');
      background-size: cover;
      background-position: center;
      border: 1px solid #ccc;
  }
  .middle-footer{
 background-image: url('img/footer.jpg');
      background-size: cover;
      background-position: center;
  }
.set-opacity{
  opacity: 0.9;
}


.setNext{
  display: flex;
  align-items: left;
  gap:3px;
}

.new-div {
  background-color: #e3f2fd;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
 
}



.text-value{
  color:salmon
}
.text-value-bold{
    font-weight: 600;
    color: red;
    font-size: 20px;
}

.header {
        background-color: rgba(46, 125, 50, 0.9); /* verde */
        /* padding: 40px 20px; */
        top:5px;
        text-align: center;
        position: relative;
        border-radius: 5px;
    }
    
.header h1 {
        color: white;
        font-size: 42px;
        margin: 0;
        letter-spacing: 1px;
    }

    /* Girassóis laterais */
    .sunflower-left,
    .sunflower-right {
        position: absolute;
        top: 15px;
        width: 80px;
    }

  .sunflower-left {
        left: 20px;
    }

    .sunflower-right {
        right: 20px;
    }

.button{
    background-color: #FBD82E;
    color: black;
    border-radius: 5px;
    align-items: center;
    gap: 20px;
    padding: 0px 15px;
    max-width: 500px;
    margin: 2px auto;
}





  @media (max-width: 600px) {
        .header h1 {
            font-size: 28px;
        }

        .sunflower-left,
        .sunflower-right {
            width: 50px;
            top: 25px;
        }
    }

/*smartphones <768px*/
@media(max-width:768px){
  .header-opaco {
      width: 100%;
  }
  .info-box{
    width: 100%;
  }
}
/*tablets >=768px*/
@media(min-width:768px){
  .header-opaco {
      width: 50%;
  }
  .info-box{
    width: 40%;
  }
}

/*desktops >=992px*/
@media(min-width:992px){
  .header-opaco {
    width: 50%;
  }
  .info-box{
    width: 30%;
  }



/*-----------------------------------------------------------------------------------------------------*/

}

 