.row.testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; /* espaço entre os blocos */
}

.row.testimonials .col {
    display: flex;
    justify-content: center;
}

blockquote.testimonial {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%; /* faz todos terem mesma altura */
    padding: 2rem;
}


blockquote.testimonial {
  background-color: #1a1113;
  color: #fff;
  border-radius: 12px;
  padding: 1.5rem 2rem;
  max-width: 400px;
  font-family: "Lobster Two", cursive;
  position: relative;
  overflow: hidden;          /* Prevents text from leaking out */
  word-break: break-word;    /* Breaks long unspaced words */
   
}

blockquote.testimonial .quote-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

blockquote.testimonial .quote-mark {
  font-size: 2rem;
  color: #ff9900;
}

blockquote.testimonial .quote-line {
   flex: 1;
  height: 4px;
  border-radius: 2px;
  background: linear-gradient(90deg, #ffcc00, #ff9900, #ffcc00);
}

blockquote.testimonial p {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 1.5rem;
  text-align: justify;  
  
}

blockquote.testimonial footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap; /* ✅ allows content to move to a new line */
  gap: 0.75rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-family: "Poppins", cursive;
  margin-top: auto; 
}

blockquote.testimonial footer img {
  border-radius: 50%;
  border: 2px solid #ffcc00;
}

blockquote.testimonial footer .stars {
  display: flex;
  gap: 0.15rem;
  margin-left: 0.25rem;
}

blockquote.testimonial footer .stars span {
  color: #ffcc00; /* bright yellow */
  font-size: 1rem;
}

.align_left{
    text-align: left !important;
}

.logosize{
    width: 126px;
    height: 126px;
    border-radius: 68px;
}

.main-color-bottom .row {
  padding-top: 40px;
}

@media (max-width: 768px) {
  .main-color-bottom .row {
    padding-top: 0px;
  }
}


