.video-container {
    min-width: 280px;
    height: auto; /* Let the height adjust dynamically */
    aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 600px;
}

.video-container iframe {
    width: 95%;
    height: 100%;
    border-radius: 40px;
}